In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/content/iris.csv')
df.head()

   Sepal_Length   Sepal_Width   Petal_Length   Petal_Width        Class
0           5.1           3.5            1.4           0.2  Iris-setosa
1           4.9           3.0            1.4           0.2  Iris-setosa
2           4.7           3.2            1.3           0.2  Iris-setosa
3           4.6           3.1            1.5           0.2  Iris-setosa
4           5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.describe()

       Sepal_Length   Sepal_Width   Petal_Length   Petal_Width
count    150.000000    150.000000     150.000000    150.000000
mean       5.843333      3.054000       3.758667      1.198667
std        0.828066      0.433594       1.764420      0.763161
min        4.300000      2.000000       1.000000      0.100000
25%        5.100000      2.800000       1.600000      0.300000
50%        5.800000      3.000000       4.350000      1.300000
75%        6.400000      3.300000       5.100000      1.800000
max        7.900000      4.400000       6.900000      2.500000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sepal_Length   150 non-null    float64
 1    Sepal_Width   150 non-null    float64
 2    Petal_Length  150 non-null    float64
 3    Petal_Width   150 non-null    float64
 4   Class          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df['Class']=df['Class'].map({
    'Iris-setosa':0,
    'Iris-versicolor':1,
    'Iris-virginica':2
    
})
df.head(5)

   Sepal_Length   Sepal_Width   Petal_Length   Petal_Width  Class
0           5.1           3.5            1.4           0.2      0
1           4.9           3.0            1.4           0.2      0
2           4.7           3.2            1.3           0.2      0
3           4.6           3.1            1.5           0.2      0
4           5.0           3.6            1.4           0.2      0

In [6]:
X = df[['Sepal_Length', ' Sepal_Width', ' Petal_Length', ' Petal_Width']]
X

     Sepal_Length   Sepal_Width   Petal_Length   Petal_Width
0             5.1           3.5            1.4           0.2
1             4.9           3.0            1.4           0.2
2             4.7           3.2            1.3           0.2
3             4.6           3.1            1.5           0.2
4             5.0           3.6            1.4           0.2
..            ...           ...            ...           ...
145           6.7           3.0            5.2           2.3
146           6.3           2.5            5.0           1.9
147           6.5           3.0            5.2           2.0
148           6.2           3.4            5.4           2.3
149           5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [7]:
y=df[['Class']]
y

     Class
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

In [10]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [11]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3)
model = kmeans.fit(X_train, y_train)
y_pred = kmeans.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import classification_report,confusion_matrix

In [13]:
print("Accuracy:", accuracy_score(y_test['Class'], y_pred))
print("Recall:", recall_score(y_test['Class'], y_pred, average='weighted'))
print("Precision:", precision_score(y_test['Class'], y_pred, average='weighted'))
print("F1 Score:", f1_score(y_test['Class'], y_pred, average='weighted'))

Accuracy: 0.9111111111111111
Recall: 0.9111111111111111
Precision: 0.9137373737373737
F1 Score: 0.9097465886939571

In [14]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[14,  0,  0],
       [ 0, 17,  1],
       [ 0,  3, 10]])

In [15]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       0.85      0.94      0.89        18
           2       0.91      0.77      0.83        13

    accuracy                           0.91        45
   macro avg       0.92      0.90      0.91        45
weighted avg       0.91      0.91      0.91        45